# OSX
#
.DS_Store
coverage/


# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Android/IntelliJ
#
dist/
build/
.idea
.gradle
local.properties
*.iml
release/
temp_keystore

#ios
ios/Pods
/ios/Pods/

# node.js
node_modules/
npm-debug.log
yarn-error.log
source_maps/

# App environment variables
.env
.tool-versions
.vscode/settings.json
